<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'tickets' %}" class="navbar-brand">Tickets</a>
    <a href="{% url 'ticket-form' %}" class="navbar-item">Create Ticket</a>
    <a href="{% url 'login' %}" class="navbar-item" {% if request.user.is_authenticated %}style="display: none" {% else %}style="display: inline"{% endif %}>Login</a>
    <a href="{% url 'register' %}" class="navbar-item" {% if request.user.is_authenticated %}style="display: none" {% else %}style="display: inline"{% endif %}>Register</a>
    <a href="{% url 'logout' %}" class="navbar-item" {% if not request.user.is_authenticated %}style="display: none" {% else %}style="display: inline"{% endif %}>Logout</a>



</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2022</p>
    </footer>
</div>
</body>
</html>